.artist-container {
    text-align: center;
    padding: 30px;
}

.artist-container h2 {
    font-size: 100px;
    color: #333;
}

.artist-container h3 {
    font-size: 20px;
    color: #333;
}

.artist-container p {
    font-size: 20px;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

.artist-container ul {
    list-style-type: none;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.artist-container li {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artist-container li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.artist-container li img {
    width: 180px;
    border-radius: 9px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 아티스트 소개 섹션 */
.artist-introduction {
    margin: 30px 0;
    text-align: center;
}

.artist-introduction h3 {
    font-size: 25px;
    color: steelblue;
    margin-bottom: 20px;
}

.artist-introduction ul {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.artist-photo {
    border-radius: 50px;
    margin-bottom: 20px;
}

.album-overlay {
    position: fixed;
    top: 300px;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.album-modal {
    position: absolute; /* 절대 위치로 설정 */
    top: 50px; /* 화면 세로 중앙 */
    left: 50px; /* 화면 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 700px;
    max-width: 700px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: modalAppear 0.3s ease-in-out;
    margin: 20px;
}


.modal-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.modal-content img {
    width: 250px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif ; 
}


.modal-content button {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px;
}

.modal-content button:hover {
    background-color: #90ee90;
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

